<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mwrspecialcategory</name>
    <displayName><![CDATA[MWR Special Category]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Zadanie 4]]></description>
    <author><![CDATA[mywebpage rocks]]></author>
    <tab><![CDATA[merchandizing]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>